<!-- Insert Image Menu -->
<insert-image *ngIf="selectedMenu == 'Image'"></insert-image>

<!-- MultiImage Menu -->
<insert-multiimage *ngIf="selectedMenu == 'MultiImage'"></insert-multiimage>

<!-- Table -->
<insert-table *ngIf="selectedMenu == 'Table'"></insert-table>

<!-- Reference -->
<insert-reference *ngIf="selectedMenu == 'Reference'"></insert-reference>

<!-- Comment -->
<insert-comment *ngIf="selectedMenu == 'Comments'"></insert-comment>

<!-- Author Query -->
<insert-authquery *ngIf="selectedMenu == 'Author Query'"></insert-authquery>

<!-- Citation Link -->
<insert-citationlink *ngIf="selectedMenu == 'Citation Link'"></insert-citationlink>

<!-- glossary -->
<insert-glossary *ngIf="selectedMenu == 'Glossary'"></insert-glossary>