<div class="flex flex-col  max-w-full w-full max-h-full h-86  sm:min-w-180">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 px-4 bg-primary text-black border-b ">
        <div class="text-lg font-medium">Query</div>

        <button mat-icon-button mat-dialog-close [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- content -->
    <form [formGroup]="queryForm" class="p-3 space-y-3">
        <div class="flex">
            <ckeditor matInput class="w-full min-h-40 h-full" [editor]="Editor" (ready)="editorReady($event)"
                [formControlName]="'queryEditor'" [config]="{ toolbar: [ 'xeditbold','xedititalic','xeditstrikethrough',
                'xeditunderline','xeditsubscript','xeditsuperscript' ] }" >
            </ckeditor>
        </div>

        <div class="flex flex-col">
            <div class="flex space-x-2 w-full">
                    <mat-form-field class="w-1/4">
                        <mat-label>Vertical Space</mat-label>
                        <input matInput [formControlName]="'verticalSpace'">
                    </mat-form-field>
    
                    <mat-form-field class="w-1/4">
                        <mat-label>Horizontal Space</mat-label>
                        <input matInput [formControlName]="'horizontalSpace'">
                    </mat-form-field>

                    <mat-form-field class="w-1/2">
                        <mat-label>Roles</mat-label>
                        <mat-select [formControlName]="'roles'">
                            <ng-container >
                                <mat-option [value]="'Sample'">
                                    Sample
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
            </div>
            <div class="flex space-x-2 w-full">
                <mat-form-field class="w-1/2">
                    <mat-label>Teams</mat-label>
                    <mat-select [formControlName]="'teams'">
                        <ng-container >
                            <mat-option [value]="'Sample'">
                                Sample
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/2">
                    <mat-label>User</mat-label>
                    <mat-select [formControlName]="'users'">
                        <ng-container >
                            <mat-option [value]="'Sample'">
                                Sample
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>

    <!-- Footer -->
    <div class="flex  bottom-0 items-center w-full border-t justify-end h-12 px-4  bg-gray-50 ">

        <button class="ml-2" mat-flat-button [color]="'primary'"  [mat-dialog-close]="true" [matTooltip]="'Submit'">
            Submit
        </button>

    </div>
</div>