<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card">
            <mat-drawer-container class="flex-auto h-full" hasBackdrop="true">
                <mat-drawer-content class="flex flex-col overflow-hidden">
                    <!-- Header -->
                    <div
                        class="flex  flex-0 items-center  h-14 px-4 md:px-6 bg-white flex-0 sm:justify-between py-4 px-6 md:px-8 border-b ">
                        <!-- Title -->
                        <div *transloco="let t"
                            class="text-2xl font-extrabold tracking-tight leading-5  truncate">
                            {{t('projects')}}</div>
                        <!-- Actions -->
                        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <!-- Add product button -->
                            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createProject()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1" *transloco="let t">{{t('add')}}</span>
                            </button>
                        </div>
                    </div>

                    <!-- Main -->
                    <div class="flex-auto p-6 sm:p-10 sm:overflow-y-auto">
                        <div class="grid sm:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 grid-cols-1 sm:gap-2 w-full">
                            <fuse-card *ngFor="let project of obs | async |search:inputData ; let i= index"
                                class="flex flex-col md:flex-row justify-between md:max-w-md lg:max-w-lg max-w-80 w-full p-8 pb-4 filter-listing">
                                <!-- class="flex flex-col md:flex-row justify-between md:max-w-md lg:max-w-lg max-w-80 w-full p-8 pb-4 filter-listing" (click)="toggleFlip(card.id)" [class.flip]="card.toggle" [class.flipped]="!card.toggle" > -->
                                <div class="flex flex-col flex-auto order-2 md:order-1">
                                    <div class="flex flex-row">
                                        <button mat-icon-button [matMenuTriggerFor]="projectMenu"
                                            class="-ml-3 -mt-2">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                            </mat-icon>
                                        </button>    
                                        <mat-menu #projectMenu="matMenu">
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:pencil'">
                                                    </mat-icon>
                                                    <span>Edit</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:trash'">
                                                    </mat-icon>
                                                    <span>Delete</span>
                                                </span>
                                            </button>

                                        </mat-menu>
                                        <div class="text-xl md:w-40  font-semibold truncate capitalize"
                                            matTooltipClass="my-custom-tooltip" matTooltipPosition="above"
                                            [matTooltip]="project.display_name">
                                            {{project.display_name}}</div>
                                    </div>

                                
                                    <div class="mt-3">
                                        <div class="flex flex-wrap items-center text-secondary my-1">
                                            <span>1098 Page produced</span>
                                        </div>
                                        <div class="flex flex-wrap items-center text-secondary my-1">
                                            <span>Print ISBN : {{project.print_isbn}}</span>
                                        </div>
                                        <div class="flex flex-wrap items-center text-secondary my-1">
                                            <span>Digital ISBN : {{project.digital_isbn}}</span>
                                        </div>
                                        <div class="flex items-center text-secondary my-1">
                                            <span>Last Edited :June 12th 2022</span>
                                        </div>
                                        <div class="flex items-center text-secondary my-1">
                                            <span>Project Status : Active</span>
                                        </div>

                                    </div>
                                    <div class="flex items-center mt-1 -mx-1">
                                        <button class="px-6 mt-2 items-center" mat-flat-button [color]="'primary'"
                                            (click)="viewChapters(project)">
                                            View Chapters
                                        </button>

                                    </div>
                                </div>
                                <div
                                    class="order-1 md:order-2 w-full  md:w-40 md:ml-6 mb-8 md:mb-4 rounded-lg overflow-hidden">
                                    <div *ngIf="!project.image"
                                        class="flex flex-col items-center h-full justify-center  rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out">
                                        <!-- (change)="uploadImages(imageFileInput.files , card)" -->
                                        <input id="image-file-input"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                            [multiple]="false" [accept]="'image/jpeg, image/png'"
                                            (change)="openImages(imageFileInput.files)" #imageFileInput>
                                        <label
                                            class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                                            for="image-file-input" matRipple>
                                            <mat-icon class="icon-size-12 text-hint"
                                                [svgIcon]="'heroicons_outline:plus'" (click)="uploadImages(project)">
                                            </mat-icon>
                                        </label>

                                    </div>
                                    <ng-container *ngIf="project.image">
                                        <div class="absolute md:right-0  md:bottom-0 p-4 md:p-8">
                                            <button mat-icon-button class="rounded-full bg-slate-100"
                                                (click)="removeImage(project)">
                                                <mat-icon class="text-black" [svgIcon]="'heroicons_outline:trash'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                        <img class="w-full h-full object-cover" [src]="project.image"
                                            alt="Card cover image">
                                    </ng-container>
                                </div>

                            </fuse-card>

                        </div>
                    </div>
                </mat-drawer-content>
                <mat-drawer #matDrawer class="w-full  md:w-1/3 " [autoFocus]="false" position="end" mode="over">
                    <project-create></project-create>
                </mat-drawer>
            </mat-drawer-container>
        </div>
    </div>


</div>