<p>dialog works!</p>
<!-- <mat-dialog-content>
    <p style="color: yellow;">dialog works!</p>
    <p>dialog works!</p>
    <p>dialog works!</p>
    <p>dialog works!</p>
    {{message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions> -->






<!-- <div class="flex flex-col flex-auto md:w-100 md:min-w-100 -m-6">
    <ng-container *ngIf="(note$ | async) as note">
        <div class="m-4">
            <div class="flex w-full py-5 px-2">
                <textarea class="w-full" [placeholder]="'Note'" [(ngModel)]="note.content"
                    (input)="updateNoteDetails(note)" matTextareaAutosize></textarea>
            </div>
            <ng-container *ngIf="!note.id">
                <div class="flex items-center justify-end mt-4"> -->
                    <!-- Save -->
                    <!-- <button mat-flat-button [color]="'primary'" [disabled]="!note.title && !note.content"
                        (click)="createNote(note)">
                        Save
                    </button>
                </div>
            </ng-container> -->
            <!-- Edit Actions -->
            <!-- <ng-container *ngIf="note.id">
                <div class="flex items-center justify-end mt-4 "> -->
                    <!-- Close -->
                    <!-- <button mat-flat-button matDialogClose>
                        Close
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>

</div> -->