<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex-auto h-full">
        <div class="flex flex-col overflow-hidden">
            <div
                class="flex flex-0 items-center py-2 pl-4 pr-6 sm:py-4 md:pl-6 md:pr-8 border-b lg:border-b-0 bg-card dark:bg-transparent">
                <button mat-icon-button [routerLink]="['..']">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                </button>
                <h2 class="ml-2.5 text-md sm:text-xl font-medium tracking-tight truncate">
                    Chapter-Reorder
                </h2>
            </div>
            <div class="flex-auto overflow-y-auto" cdkScrollable>
                <div
                    class="prose flex flex-col prose-sm max-w-full mx-4 sm:mx-8 sm:my-2 lg:mt-4 my-1 p-6 sm:p-10 sm:py-12 rounded-2xl shadow overflow-hidden bg-card">
                    <div class="flex flex-auto">
                        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 ">
                            <mat-tab-group class="sm:px-2 " (selectedTabChange)="selectedTabValue($event)"
                                [animationDuration]="'0'">
                                <mat-tab label="Print" >

                                </mat-tab>
                                <mat-tab label="Web" >

                                </mat-tab>
                            </mat-tab-group>

                        </div>
                    </div>
                    <div class="flex flex-col" *ngIf="printView"   cdkDropList
                    [cdkDropListData]="chapter" (cdkDropListDropped)="drop($event)">
                        <div class="w-full border p-4" *ngFor="let chapter of chapters;" cdkDrag   [cdkDragLockAxis]="'y'">
                            <div class="min-w-0 ml-4 flex flex-row space-x-2"  >
                                <!-- Drag handle -->
                                <div class="flex items-center justify-center inset-y-0 left-0 w-8 cursor-move" 
                                cdkDragHandle>
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:menu'">
                                    </mat-icon>
                                </div>
                                <div class="font-medium leading-5 truncate" >
                                    {{chapter.chapter_name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col" *ngIf="!printView">
                        <div class="w-full border  p-4" *ngFor="let chapter of chapters;" cdkDrag >
                            <div class="min-w-0 ml-4 flex flex-row space-x-2" >
                                <!-- Drag handle -->
                                <div class="flex items-center justify-center inset-y-0 left-0 w-8 cursor-move md:group-hover:flex"
                                    cdkDragHandle>
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:menu'">
                                    </mat-icon>
                                </div>
                                <div class="font-medium leading-5 truncate">
                                    {{chapter.chapter_name}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="flex h-full md:w-1/4 bg-card">
                        <div class="flex flex-col overflow-hidden w-full">
                            <div class="mb-2 font-normal flex flex-row justify-start">
                                <span class="font-bold">
                                    Chapter List
                                </span>
                            </div>
                            <div class="flex-auto overflow-y-auto bg-card">
                                <div cdkDropList [cdkDropListData]="chapters"  [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)">
                                    <div class="z-20 flex items-center py-3 px-4 cursor-move border"
                                        *ngFor="let chapter of chapters" cdkDrag [cdkDragData]="chapter">
                                        <div class="min-w-0 ml-4">
                                            <div class="font-medium leading-5 truncate">
                                                {{chapter.chapter_name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center md:w-1/2 md:max-h-full max-h-96  overflow-y-auto  w-full"
                    cdkDropList [cdkDropListData]="dropDatas"
                    #doneList="cdkDropList" (cdkDropListDropped)="drop($event)">
                    <div class="p-2 w-96 " >
                        <div class="m-2 rounded-xl min-h-24 bg-gray-400 bg-opacity-12 hover:scale-105 border-dashed border-2 border-amber-400" cdkDrag>
                            <div class="p-3" *ngFor="let data of dropDatas">
                                <div class="z-20 flex items-center justify-between py-3 px-4  cursor-move rounded-lg  bg-card" cdkDrag >
                                    <div class="min-w-0">
                                        <div class="font-medium leading-5 truncate">
                                           {{data.chapter_name}}
                                        </div>
                                    </div>
                                    <button mat-icon-button (click)="cutData(data)">
                                        <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>