.cdk-drag-preview {
    @apply shadow-xl;
}

.cdk-drag-placeholder {
    opacity: 0;
}

:host ::ng-deep{
    
    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
        margin-bottom: 0px !important; 
        padding-bottom: 0px;
    }
}



