<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <div class="relative flex flex-col flex-auto items-center ">
        <form [formGroup]="tagForm" class="w-full">
            <div class="mt-2 space-y-4 px-2 sm:px-4 py-5">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Stage</mat-label>
                    <mat-icon matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:globe'"></mat-icon>
                    <mat-select [formControlName]="'stage'" >
                        <ng-container *ngFor="let stage of stagelist">
                            <mat-option value="{{stage.project_stage_name}}">{{stage.project_stage_name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Team</mat-label>
                    <mat-icon matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:globe'"></mat-icon>
                    <mat-select [formControlName]="'team'" multiple>
                        <ng-container *ngFor="let team of teamMapList">
                            <mat-option value="{{team.team_name}}">{{team.team_name}}</mat-option >
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container >
                <div class="flex items-center justify-end m-5">
                    <!-- Save -->
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        
                        (click)="createStage()">
                        Save
                    </button>
                </div>
            </ng-container>
        </form>
    </div>
</div>